<template>
  <div class="canvas-wrapper">
    <canvas ref="canvas" />
    <div class="zoomControls">
      <div
        :class="['option', active === 'all' ? 'active' : '']"
        @click="resetZoom"
      >
        All
      </div>
      <div
        v-for="level in zoomLevels"
        :key="level"
        :class="['option', active === level ? 'active' : '']"
        :data-level="level"
        @click="adjustDate"
      >
        -{{ level }}d
      </div>
    </div>
  </div>
</template>
<script>
import Chart from '../../node_modules/chart.js/src/chart';
import moment from 'moment';

export default {
  props: {
    config: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      active: 'all',
      zoomLevels: [180, 90, 60, 30],
    };
  },
  mounted() {
    const ctx = this.$refs.canvas.getContext('2d');
    this.chart = new Chart(ctx, this.config);
  },
  methods: {
    resetZoom() {
      delete this.chart.options.scales.xAxes[0].time.min;
      this.chart.update(500);
      this.active = 'all';
    },
    adjustDate(event) {
      const level = parseInt(event.target.dataset.level, 10);
      const minDate = moment().subtract(level, 'd');
      this.chart.options.scales.xAxes[0].time.min = minDate;
      this.chart.update(500);
      this.active = level;
    },
  },
};
</script>
<style scoped>
.canvas-wrapper {
  position: relative;
}

.zoomControls {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 84px;
  display: flex;
}

.zoomControls .option {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  vertical-align: center;
  border: 1px solid #606c76;
  border-left: none;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
}

.zoomControls .option:first-child {
  border-bottom-left-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  border: 1px solid #606c76;
}

.zoomControls .option:last-child {
  border-bottom-right-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.zoomControls .option.active,
.zoomControls .option:hover,
.zoomControls .option:active {
  background-color: rgba(119, 164, 172, 0.34);
}
</style>
