<template>
  <card>
    <loading v-if="loading" />
    <error v-else-if="error" :error="error">
      Could not load metadata for GitLab {{ projectKey.toUpperCase() }}
    </error>
    <div v-else>
      <h2 :id="project.version">
        {{ project.name }}
        <small>{{ project.percent }}% polished</small>
      </h2>
      <p>
        {{ project.pretty }} of {{ project.total }} <code>js</code> and
        <code>vue</code> files have no lints.
        <br />
        If we remove all <code>eslint-disable</code> from all files, we'd have
        to fix <code>{{ project.errors }}</code> Errors and
        <code>{{ project.warnings }}</code> Warnings.
      </p>
      <file-list :project-key="projectKey" target="eslint">
        <p slot="header">
          Here is an overview of all files:
        </p>
        <figcaption slot="caption">
          An overview of all files eslint reports on.
          <file file-class="green" />
          all correct;
          <file file-class="yellow" />
          has warnings;
          <file file-class="red" />
          has errors. Box size proportional to amount of changes (log scale).<br />
          Hover over a box to see path and error count.
        </figcaption>
      </file-list>
      <p>The {{ Object.keys(project.top20).length }} most common lints are:</p>
      <figure>
        <pre>{{ JSON.stringify(project.top20, null, 2) }}</pre>
      </figure>
      <chart :project-key="projectKey" target="eslint">
        <p slot="header">
          Progress over time:
        </p>
        <figcaption slot="caption">
          This graph plots amount of polished files in %
          <file file-class="green" />
          and Errors/Warnings (<file file-class="red" />/<file
            file-class="yellow"
          />) against time.<br />
          Hover over a spot in the diagram to see more details.
        </figcaption>
      </chart>
      <small>
        Based on commit
        <a :href="project.commitUrl"> {{ project.commit.substring(0, 10) }} </a
        >, authored
        <time-ago :date="project.commitTime" />
      </small>
    </div>
  </card>
</template>
<script>
import { retrieveEslintMetadata } from '@/assets';
import TimeAgo from './shared/TimeAgo.vue';
import FileList from './FileList.vue';
import File from './File.vue';
import Loading from './shared/Loading.vue';
import Error from './shared/Error.vue';
import Card from './shared/Card.vue';
import Chart from './shared/Chart.vue';

export default {
  components: {
    Card,
    Error,
    Chart,
    File,
    TimeAgo,
    Loading,
    FileList,
  },
  props: {
    projectKey: {
      type: String,
      required: true,
    },
  },
  data() {
    return { project: {}, loading: true, error: false };
  },
  mounted() {
    retrieveEslintMetadata(this.projectKey)
      .then(project => {
        this.project = project;
        this.loading = false;
      })
      .catch(e => {
        this.error = e;
        this.loading = false;
      });
  },
};
</script>
