<template>
  <div>
    <loading v-if="loading" />
    <error v-else-if="error" :error="error" />
    <div v-else>
      <p>
        There are currently {{ metadata.folderCount }} folders containing EE
        specific code when they should not. {{ metadata.fileCount }} files have
        a diff compared to the CE version.
      </p>
      <input
        v-model="search"
        type="text"
        placeholder="Search through files that have a diff"
      />
      <small>
        Try searching through paths like <code>app/models</code> or through file
        names like <code>_spec.js</code>
      </small>
      <table>
        <tr>
          <th>
            # of files
          </th>
          <th>
            Folder
          </th>
          <th>
            Files
          </th>
        </tr>
        <tr v-for="entry in matchingFolders" :key="entry.path">
          <td :key="`${entry.path}-size`">
            {{ entry.files.length }}
          </td>
          <td :key="`${entry.path}-folder`">
            <highlight :content="entry.path" :search="search" />
          </td>
          <td :key="`${entry.path}-list`">
            <file-search-file-list :files="entry.files" :search="search" />
          </td>
        </tr>
        <tr v-if="matchingFolders.length === 0">
          <td colspan="3">
            No matching folders found
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
import { diffFileList } from '@/assets';
import Loading from './shared/Loading.vue';
import Highlight from './Highlight.vue';
import Error from './shared/Error.vue';
import FileSearchFileList from './FileSearchFileList.vue';

function getSearch() {
  try {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get('search') || '';
  } catch (e) {
    console.warn(e);
    return '';
  }
}

export default {
  components: {
    Error,
    Loading,
    Highlight,
    FileSearchFileList,
  },
  props: {},
  data() {
    return {
      folders: [],
      matchingFolders: [],
      metadata: {},
      loading: true,
      error: false,
      search: getSearch(),
    };
  },
  watch: {
    search() {
      this.$_search();
    },
  },
  created() {},
  mounted() {
    this.loading = false;
    diffFileList()
      .then(folders => {
        this.metadata = {
          folderCount: folders.length,
          fileCount: folders.reduce((r, entry) => r + entry.files.length, 0),
        };
        this.folders = folders;
        this.loading = false;
        this.$_search();
      })
      .catch(e => {
        this.error = e;
        this.loading = false;
      });
  },
  methods: {
    $_search() {
      const baseUrl = `${window.location.origin}${window.location.pathname}`;
      if (this.search) {
        window.history.pushState(
          '',
          '',
          `${baseUrl}?search=${encodeURIComponent(this.search)}`
        );
        this.matchingFolders = this.folders.filter(folder => {
          return (
            folder.path.includes(this.search) ||
            folder.files.some(file => file.file.includes(this.search))
          );
        });
      } else {
        window.history.pushState('', '', baseUrl);
        this.matchingFolders = this.folders;
      }
    },
  },
};
</script>
<style scoped>
th:first-child {
  width: 8rem;
}

th:nth-child(2) {
  min-width: 25rem;
}

td {
  font-size: 1.5rem;
}
</style>
