<template>
  <div>
    <div v-if="files.length === 0">
      No files
    </div>
    <div v-else>
      <div v-for="file in matchingFiles" :key="file.file">
        <highlight
          :content="file.file.split('/').reverse()[0]"
          :search="search"
        />&nbsp;<span class="add"> +{{ file.add }} </span>&nbsp;<span
          class="del"
        >
          -{{ file.del }} </span
        >&nbsp;

        <a
          :href="
            `https://gitlab.com/gitlab-org/gitlab-ce/blob/master/${file.file}`
          "
          target="_blank"
        >
          <small>[open in CE]</small>
        </a>
        &middot;
        <a
          :href="
            `https://gitlab.com/gitlab-org/gitlab-ee/blob/master/${file.file}`
          "
          target="_blank"
        >
          <small>[open in EE]</small>
        </a>
        &middot;
        <template v-if="diff && file.file === diffKey">
          <a href="" @click="closeDiff">
            <small>Close diff</small>
          </a>
          <!-- eslint-disable-next-line vue/no-v-html -->
          <div class="diff-wrapper" v-html="diff"></div>
          <a href="" @click="closeDiff">
            <small>Close diff</small>
          </a>
        </template>
        <a v-else href="" @click="showDiff($event, file)">
          <small>Show diff</small>
        </a>
      </div>
      <a v-if="expandable" href="" @click="toggleExpand">
        <small>
          <span v-if="!showAll"> Show all {{ files.length }} files </span>
          <span v-else> Hide {{ files.length - maxLength }} files </span>
        </small>
      </a>
    </div>
  </div>
</template>
<script>
import orderBy from 'lodash/orderBy';
import { Diff2Html } from 'diff2html';
import 'diff2html/dist/diff2html.min.css';
import Highlight from '@/components/Highlight';

export default {
  components: { Highlight },
  props: {
    files: {
      type: Array,
      default: () => [],
    },
    search: {
      type: String,
      default: '',
    },
  },
  data() {
    return { showAll: false, maxLength: 5, diff: null, diffKey: null };
  },
  computed: {
    expandable() {
      return this.files.length > this.maxLength && !this.search;
    },
    matchingFiles() {
      let files = orderBy(this.files, ['add', 'del'], ['desc', 'desc']);

      if (this.search) {
        return files.filter(file => file.file.includes(this.search));
      }

      if (this.showAll) {
        return files;
      }

      return files.slice(0, this.maxLength);
    },
  },
  methods: {
    toggleExpand(e) {
      e.preventDefault();
      this.showAll = !this.showAll;
    },
    closeDiff(e) {
      e.preventDefault();
      this.diffKey = null;
      this.diff = null;
    },
    showDiff(e, file) {
      e.preventDefault();
      this.diffKey = file.file;
      this.diff = Diff2Html.getPrettyHtml(file.serialized, {
        inputFormat: 'diff',
        showFiles: false,
        matching: 'lines',
        outputFormat: 'line-by-line',
      });
    },
  },
};
</script>
<style scoped>
.add {
  color: #2ecc40;
}

.del {
  color: #ff4136;
}

.diff-wrapper {
  max-width: 70vw;
}
</style>
