<script>
export default {
  props: {
    content: {
      type: String,
      required: true,
    },
    search: {
      type: String,
      default: '',
    },
  },
  computed: {
    highlighted() {
      let content = this.content;

      if (this.search) {
        content = content
          .split(this.search)
          .join(`<strong>${this.search}</strong>`);
      }

      return content.replace(/([^<]\/)/g, '$1&#8203;');
    },
  },
};
</script>
<template>
  <!-- eslint-disable-next-line vue/no-v-html -->
  <span v-html="highlighted" />
</template>
