<template>
  <div id="app" class="content">
    <div>
      <div class="container">
        <small>
          <nuxt-link to="/prettier">
            prettier
          </nuxt-link>
          |
          <nuxt-link to="/eslint">
            eslint
          </nuxt-link>
          |
          <nuxt-link to="/diff">
            CE/EE diff
          </nuxt-link>
        </small>
      </div>
      <nuxt />
      <small>
        Built:
        <time-ago :date="buildTime" /> &middot;
        <a :href="repoUrl">
          Repo
        </a>
      </small>
    </div>
  </div>
</template>
<script>
import TimeAgo from '~/components/shared/TimeAgo.vue';
import { buildDate, repoUrl } from '~/assets/data.json';
export default {
  components: {
    TimeAgo,
  },
  data() {
    let buildTime;

    try {
      buildTime = new Date(buildDate * 1000);
    } catch (e) {
      buildTime = new Date('1995-12-17T03:24:00');
    }

    return {
      buildTime,
      repoUrl,
    };
  },
};
</script>
<style>
html {
  background: rgba(0, 0, 0, 0.01);
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.nuxt-link-active {
  color: #606c76;
}
</style>
