<template>
  <div>
    <div class="container">
      <h1>
        Is GitLab still doing the
        <nuxt-link to="/prettier">
          splits?
        </nuxt-link>
      </h1>
    </div>
    <card>
      We want to move 100% of EE-specific files and lines to the
      <code>ee</code> top level directory
      <a href="https://gitlab.com/groups/gitlab-org/-/epics/27"> [reference] </a
      >.<br />
      This page shows useful hints on our progress and is re-build every 4
      hours.
      <br /><br />
      The diff ignores files that only have changed lines consisting of:
      <ul>
        <li>only whitespaces</li>
        <li>
          <code>prepend EE::</code>, <code>include EE::</code>,
          <code>extend EE::</code>, <code>prepend(EE::</code>
        </li>
        <li>ruby style comments (<code>#</code>)</li>
      </ul>
    </card>
    <diff-meta-data />
  </div>
</template>

<script>
import Card from '~/components/shared/Card.vue';
import DiffMetaData from '~/components/DiffMetaData.vue';

export default {
  components: {
    Card,
    DiffMetaData,
  },
};
</script>
<style scoped>
li {
  margin-bottom: 0;
  margin-left: 2rem;
}
</style>
