<template>
  <div class="container">
    <h1>
      Is GitLab
      <nuxt-link to="/diff">
        polished
      </nuxt-link>
      yet?
    </h1>
    <card>
      During the conversion from CoffeeScript to modern ECMAScript we have
      disabled a lot of
      <a href="https://eslint.org/">
        <code>eslint</code>
      </a>
      rules in certain files.<br />
      The data below shows how far we have come in fixing those disabled rules.
      It is generated every 4 hours.
    </card>
    <eslint-meta-data project-key="ce" />
    <eslint-meta-data project-key="ee" />
  </div>
</template>

<script>
import Card from '~/components/shared/Card.vue';
import EslintMetaData from '~/components/EslintMetaData.vue';

export default {
  components: {
    Card,
    EslintMetaData,
  },
};
</script>
