<template>
  <div class="container">
    <h1>
      Is GitLab
      <nuxt-link to="/eslint">
        pretty
      </nuxt-link>
      yet?
    </h1>
    <template v-if="isPretty">
      <card>
        <h2>
          Yes!
        </h2>
        <ResponsiveVideo src="https://www.youtube.com/embed/VXY3RY09xOE" />
        <button @click="showDetails = !showDetails">
          {{ showHide }} details
        </button>
      </card>
    </template>
    <template v-if="showDetails">
      <card>
        The frontend team at GitLab uses
        <a href="https://prettier.io/">
          <code>prettier</code>
        </a>
        to automatically format SCSS, JS and VUE files. This helps us avoid
        nit-picking during merge requests.<br />
        The data below shows how far we have come in formatting our code. It is
        generated every 4 hours.
      </card>
      <prettier-meta-data project-key="ce" />
      <prettier-meta-data project-key="ee" />
    </template>
  </div>
</template>

<script>
import { isPretty } from '~/assets/data.json';
import Card from '~/components/shared/Card.vue';
import PrettierMetaData from '~/components/PrettierMetaData.vue';
import ResponsiveVideo from '~/components/shared/ResponsiveVideo.vue';

export default {
  components: {
    Card,
    ResponsiveVideo,
    PrettierMetaData,
  },
  data() {
    return { isPretty, showDetails: !isPretty };
  },
  computed: {
    showHide() {
      return this.showDetails ? 'Hide' : 'Show';
    },
  },
};
</script>
